from config_studio_hub import *

DATA_ARCHIVE_ROOT = '/data/biothings_studio/datasources'
DATA_PLUGIN_FOLDER = '/data/biothings_studio/plugins'
DATA_UPLOAD_FOLDER = '/data/biothings_studio/dataupload'
DATA_SRC_SERVER = 'localhost'
DATA_SRC_PORT = 27017
DATA_SRC_DATABASE = 'biothings_src'
DATA_SRC_SERVER_USERNAME = ''
DATA_SRC_SERVER_PASSWORD = ''

DATA_TARGET_SERVER = 'localhost'
DATA_TARGET_PORT = 27017
DATA_TARGET_DATABASE = 'biothings'
DATA_TARGET_SERVER_USERNAME = ''
DATA_TARGET_SERVER_PASSWORD = ''

DATA_HUB_DB_DATABASE = DATA_SRC_DATABASE # keep _src db as before

DIFF_PATH = "/data/biothings_studio/diff"

HUB_DB_BACKEND = {
		"module" : "biothings.utils.mongo",
		"uri" : "mongodb://localhost:27017",
		}

LOG_FOLDER = "/data/biothings_studio/logs"
logger = setup_default_log("hub", LOG_FOLDER)

RELEASE_PATH = "/data/biothings_studio/release"
CACHE_FOLDER = "/data/biothings_studio/cache"

ES_BACKUPS_FOLDER = "/data/biothings_studio/es_backups"

RUN_DIR = '/data/run'
CONFIG_READONLY = False

HUB_ICON = "https://cdn.chanhtuoi.com/uploads/2020/05/icon-facebook-06-3.jpg.webp"

AWS_KEY = <replace your key>
AWS_SECRET = <replace your secret>
AWS_REGION = <replace your region>

SNAPSHOT_BUCKET_NAME = "test-biothings-snapshot"
PUBLISH_BUCKET_NAME = "test-biothings-publish"

SNAPSHOT_CONFIG = {
    "env": {
        "s3_testhub": {
            "cloud": {
                "type": "aws",
                "access_key": AWS_KEY,
                "secret_key": AWS_SECRET,
                "region": AWS_REGION
            },
            "repository": {
                "name": "s3-$(Y)",
                "type": "s3",
                "settings": {
                    "bucket": SNAPSHOT_BUCKET_NAME,
                    "base_path": "snapshot/test_hub_docker/$(Y)",  # year
                },
                "acl": "private",
                "region": AWS_REGION,
            },
            "indexer": {
                "name": "localhub",
                "args": {
                    "timeout": 100,
                    "max_retries": 5
                }
            },
            "monitor_delay": 15,
        }
    }
}

RELEASE_CONFIG = {
    "env": {
        "s3_testhub": {
            "cloud": {
                "type": "aws",  # default, only one supported by now
                "access_key": AWS_KEY,
                "secret_key": AWS_SECRET,
            },
            "release": {
                "bucket": PUBLISH_BUCKET_NAME,
                "region": AWS_REGION,
                "folder": "releases/test_hub_docker/%(build_config.name)s",
                # "auto": True,  # automatically generate release-note ?
            },
            "diff": {
                "bucket": PUBLISH_BUCKET_NAME,
                "folder": "diffs/test_hub_docker/%(build_config.name)s",
                "region": AWS_REGION,
                # "auto": True,  # automatically generate diff ? Careful if lots of changes
            },
            "publish": {},
        }
    }
}

STANDALONE_AWS_CREDENTIALS = {
    "AWS_ACCESS_KEY_ID": AWS_KEY,
    "AWS_SECRET_ACCESS_KEY": AWS_SECRET
}

STANDALONE_CONFIG = {
    # the first ES server, which create snapshot
    "_default": {
        "es_host": <FIRST_ELASTIC_SERVER_HOST>,
        "index": "main_build_configuration",
    },
    # the Production ES server, or a 2nd ES server in dev setup
    "production": {
        "es_host": <SECOND_ELASTIC_SERVER_HOST>,
        "index": "main_build_configuration",
    }
}

VERSION_URLS = [
    # Update this URL to the actually versions.json saved to the S3 bucket
    {
        "name": "production",
        "url": f"https://{PUBLISH_BUCKET_NAME}.s3.{AWS_REGION}.amazonaws.com/releases/test_hub_docker/main_build_configuration/versions.json"
    }
]

# This config should change to match your testing environment
APP_VERSION = {
    'branch': <replace your branch>,
    'commit': <replace your commit hash>,
}